.footer {
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    background-color: #082b54;
    color: #dce9f5;
    border-top: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    max-width: rem(200px);

    @media (max-width: $mantine-breakpoint-sm) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.description {
    margin-top: rem(5px);

    @media (max-width: $mantine-breakpoint-sm) {
        margin-top: var(--mantine-spacing-xs);
        text-align: center;
    }
}

.inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mantine-breakpoint-sm) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.groups {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $mantine-breakpoint-sm) {
        display: none;
    }
}

.wrapper {
    width: rem(160px);

    @media (max-width: $mantine-breakpoint-xs) {
        width: rem(140px);
    }
}

.link {
    display: block;
    color: #a3bdd6;
    font-size: var(--mantine-font-size-sm);
    padding-top: rem(3px);
    padding-bottom: rem(3px);
    transition: color .15s;
    -webkit-transition: color .15s;

    &:hover {
        color: #fff;
        text-decoration: underline;
    }
}

.title {
    font-size: var(--mantine-font-size-lg);
    font-weight: 700;
    font-family:
            Greycliff CF,
            var(--mantine-font-family);
    margin-bottom: calc(var(--mantine-spacing-xs) / 2);
    color: #fff;
}

.afterFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--mantine-spacing-xl);
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-xl);
    border-top: rem(1px) solid rgba(255,255,255,.1);
    gap: 16px;

    @media (max-width: $mantine-breakpoint-sm) {
        flex-direction: column;
        text-align: center;
        gap: 12px;
    }
}

.social {
    @media (max-width: $mantine-breakpoint-sm) {
        margin-top: var(--mantine-spacing-xs);
    }
}
